# Ambiente
NODE_ENV=development

# AWS
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=local
AWS_SECRET_ACCESS_KEY=local

# DynamoDB Local (apenas desenvolvimento)
DYNAMODB_ENDPOINT=http://localhost:8000
DYNAMODB_TABLE_APPOINTMENTS=agenda-appointments-dev
DYNAMODB_TABLE_CONTACTS=agenda-contacts-dev

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_EXCHANGE=agenda.events
RABBITMQ_QUEUE_NOTIFICATIONS=agenda.notifications
RABBITMQ_QUEUE_REMINDERS=agenda.reminders
